# venv files
tf/

#mac folders info
.DS_Store

# test files
preprocessed_first_snapshot.pcd

# dans notes file 
selfnotes.txt

# visual studio files
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST