<?xml version="1.0"?>
<launch>

    <!-- Launches LaR world in Gazebo -->
    <arg name="world_name" default="$(find rospointnet)/worlds/classification_valid_world.sdf"/>

    <!-- Launches Livox Simulated Sensor -->
    <arg name="livox_sensor" default="$(find livox_laser_simulation)/urdf/livox_mid70.xacro" />
    <param name="sensor_description" command="$(find xacro)/xacro --inorder $(arg livox_sensor)" />

    <!-- Comment this section out when just testing the URDF -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Sets physics engine since we didn't set it in Gazebo World. -->
        <arg name="physics" value="ode" />
        <arg name="world_name" value="$(arg world_name)"/> 
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="true"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- Launches Gazebo ROS with Livox Lidar -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model livox_sensor -param sensor_description" />
    
    <!-- Launches the PointCloud to PointCloud2 converter node so that the bag file can
    be converted to a .pcd file -->
    <node pkg="point_cloud_converter" name="point_cloud_converter" type="point_cloud_converter_node" >
		<remap from="points_in" to="/scan"/>
		<remap from="points2_out" to="/converted_point_cloud_2" />
	</node>

    <!-- Uncomment the line below if wished to see the sensor output in RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find livox_laser_simulation)/rviz/livox_simulation.rviz"/> 
    

</launch>